<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            background-color: #f8f9fa;
        }

        #first2 {
            background-color: rgb(0, 0, 0);
            margin: 20px;
            padding: 20px;
            border-radius: 10px;
            color: white;
        }

        h1 {
            margin-bottom: 30px;
        }
        hr{
           background-color: white;
        }
        
    </style>
</head>
<body>
    <div class="container">
        <div class="col-12" id="first2">
            <h1 class="display-2 text-center">Users<hr></h1>
            <form action="/form?" method="get" class="d-flex">
                <button type="submit" class=" ml-auto my-3 btn btn-warning data-mdb-ripple-color="dark>ADD A USER</button>
            </form>
            <div class="table-responsive">
                <table class="table table-bordered table-dark">
                    <thead class="text-center">
                        <tr>
                            <th>Name</th>
                            <th>Phone</th>
                            <th>Age</th>
                            <th>Email</th>
                            <th>Delete</th>
                            <th>Edit</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% Data.forEach(user => { %>
                            <tr>
                                <td class="text-center"><%= user.name %></td>
                                <td class="text-center"><%= user.phone %></td>
                                <td class="text-center"><%= user.age %></td>
                                <td class="text-center"><%= user.email %></td>
                                <td class="text-center">
                                    <form action="/delete/<%= encodeURIComponent(user.id) %>" method="get">
                                        <button type="submit" class="btn btn-outline-danger" data-mdb-ripple-color="dark">Delete</button>
                                    </form>       
                                </td>
                                <td class="text-center">
                                    <form action="/edit/<%= user.id %>" method="get">
                                        <button type="submit"  class="btn btn-outline-info" data-mdb-ripple-color="dark">Edit</button>
                                    </form>
                                </td>
                            </tr>
                        <% }); %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
